<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>

    <head>
        <div>

            <h>
                <a href="/output/new"  > Добавить локацию в Россию </a>
            </h>

            <h>Локация</h>
            <h>Достопримечательность</h>
            <h>Название</h>
            <h>Описание</h>
        <div/>
    </head>

    <body>
        <tr th:each="region : ${regionList}">
            <div th:if="${region.cityList.size != 0}">
                <div th:each="city : ${region.cityList}">

                    <div th:if="${city.outputList.size != 0}">
                        <div th:each="output : ${city.outputList}">
                            <div th:text="${region.regions}"></div>
                            <div th:text="${city.cities}"> </div>
                            <div th:if="${output.geographicalObject != null}">
                                 <div th:text="${output.geographicalObject.geographicalObjectList}"></div>
                            </div>
                            <div th:text="${output.name}"> </div>
                            <div th:text="${output.description}"> </div>
                            <a th:href="@{'/output/' + ${output.idOutput} + '/delete'}"><button type="button">Delete</button></a>

                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </body>


</body>
</html>