<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Локация</th>
            <th>Достопримечательность</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="output : ${outputList}">
            <td th:text="${output.location}"> </td>
            <td th:text="${output.name_of_the_geographical_object}"> </td>
            <td th:text="${output.name}"> </td>
            <td th:text="${output.description}"> </td>
        </tr>
    </tbody>
</table>


</body>
</html>