<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Russia</title>
</head>
<body>

    <head>
        <div>

            <form action="/russia/new">
                <button type="submit">Добавить достопримечательность</button>
            </form>

            <h>Локация</h>
            <h>Достопримечательность</h>
            <h>Название</h>
            <h>Описание</h>
        <div/>
    </head>

    <body>
        <tr th:each="region : ${regionList}">
            <div th:if="${region.cityList.size != 0}">
                <div th:each="city : ${region.cityList}">

                    <div th:if="${city.russiaList.size != 0}">
                        <div th:each="russia : ${city.russiaList}">
                            <div th:text="${region.regions}"></div>
                            <div th:text="${city.cities}"> </div>
                            <div th:if="${russia.object != null}">
                                 <div th:text="${russia.object.objects}"></div>
                            </div>
                            <div th:text="${russia.name}"> </div>
                            <div th:text="${russia.description}"> </div>
                            <a th:href="@{'/russia/' + ${russia.idRussia} + '/delete'}"><button type="button">Delete</button></a>

                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </body>


</body>
</html>